.container{
	background-color:#f5f5f5;
	padding:20px;
}

.testimonial{
	padding:15px;
	border:1px solid #cccccc;
	background-color:#ffffff;
	margin-bottom:20px;
}

.author{
	text-align:right;
	font-style:italic;
}